<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="758d7cdc-13ef-4a47-b29d-ce2ae88ce7e5" Publisher="CN=lijam_000" Version="1.0.0.0" />
  <Properties>
    <DisplayName>imgup</DisplayName>
    <PublisherDisplayName>James Li</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="imgup.App">
      <VisualElements DisplayName="imgup" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="imgup lets you easily upload photos to the popular image sharing website, Imgur, on Windows 8 and RT. Just upload your photos directly with the app or use the Share charm from any photo sharing capable app for quick uploads." ForegroundText="light" BackgroundColor="#000000" ToastCapable="true">
        <DefaultTile ShowName="logoOnly" WideLogo="Assets\WideLogo.png" ShortName="imgup" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#121211" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <SupportedFileTypes>
              <FileType>.jpeg</FileType>
              <FileType>.png</FileType>
              <FileType>.gif</FileType>
              <FileType>.apng</FileType>
              <FileType>.tiff</FileType>
              <FileType>.tif</FileType>
              <FileType>.bmp</FileType>
              <FileType>.pdf</FileType>
              <FileType>.xcf</FileType>
              <FileType>.jpg</FileType>
            </SupportedFileTypes>
            <DataFormat>Bitmap</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>